/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');

/*
- Colors:
- blue: #51c7eb (cards)
- light green: #c1ee9a (buttons)
- grey: #232b2b (text)
- dark green: #5cba64 (hover)
- light blue: #abdbe3 (background)
*/

/* Body */
body {
    font-family: 'Inter', sans-serif;
    color: #232b2b;
    background-color: #abdbe3;
}

/* Buttons */
.custom-btn {
    border-radius: 0;
    background-color: #c1ee9a;
    border-color: #c1ee9a;
    color: #232b2b;
}

.custom-btn:hover {
    background-color: #5cba64 ;
    color: #ffffff;
    border-color: #5cba64;
}

/* Bulletpoints */
.bullets {
    list-style-type: none;
}

 /* Cards */
.sharp-corners {
    border-radius: 0;
    padding-left: 0;
}

.card-body {
    background-color: #51c7eb;
    color: #232b2b
}

/* Header (3) text-centered */
h3 {
    text-align: center;
    justify-content: center;
}

/* Navbar */

/* About */
.aboutus {
    margin-top: 20px;
}

#about {
    color: #232b2b;
    background-color: #51c7eb;
    justify-content: center;
    font-size: 1.3em;
    line-height: 3.5em;
}

/* Mental Health Awareness */
.mhaware {
    margin-top: 15px;
}

/* Recognizing Symptoms */

/* Managing Stress */

/* Resources */
#resources {
    margin-top: 20px;
}

#resources .card-body {
    background-color: #51c7eb;
}

/* Positive Affirmations */
.posaff {
    margin-top: 20px;
}

#posaff {
    color: #232b2b;
    background-color: #51c7eb;
    justify-content: center;
    font-size: 1.3em;
    line-height: 2.8em;
    
}

/* Footer */
footer {
    background-color: #232b2b;
    color: #ffffff;
    padding: 10px 0;
}


/* Hero Section */
#hero {
    background-color: lightgray;
    background: url(../images/man-looking-at-mountains.jpg);
    background-size: cover;
    background-position: 50% 70%;
    min-height: 400px;
    padding: 5% 7%;
    color: white;
    line-height: 60px;
}

/* Media quieries */
/* Medium devices (768px and up)*/
@media screen and (max-width: 768px) {
    /* Make all service cards the same height for consistency*/
    #common-issues .card-body {
      min-height: 280px; /*280? 232*/
    }
}

/* Large devices (1200px and up) */
@media screen and (max-width: 1200px) {
    /* makes all common issues cards same height for consistency on XL screens */
    #common-issues .card-body {
      min-height: 235px;
    }
}

/* Extra large devices (1400px and up) */
@media screen and (max-width: 1400px) {
    /* makes all common issues cards same height for consistency on XL screens */
    #common-issues .card-body {
      min-height: 235px;
    }
}