/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');

/*
- Colors:
- blue: #51c7eb (background)
- light green: #c1ee9a (buttons)
- grey: #232b2b (text)
- dark green: #5cba64 (hover)
- lilac (?): #e2c3cc (cards)
*/

/* Body */
body {
    font-family: 'Inter', sans-serif;
    color: #232b2b;
    background-color: #51c7eb;
}

/* Buttons */
.custom-btn {
    border-radius: 0;
    background-color: #c1ee9a;
    border-color: #c1ee9a;
    color: #232b2b;
}

.custom-btn:hover {
    background-color: #5cba64 ;
    color: #ffffff;
    border-color: #5cba64;
}

.bullets {
    list-style-type: none;
}

.sharp-corners {
    border-radius: 0;
    padding-left: 0;
}

/* Navbar */

/* About */
.aboutus {
    margin-top: 20px;
}

#about {
    color: #232b2b;
    background-color: #e2c3cc;
    justify-content: center;
    font-size: 1.3em;
    line-height: 3.5em;
}

/* Mental Health Awareness */
.mhaware {
    margin-top: 15px;
}

/* Recognizing Symptoms */

/* Managing Stress */

/* Resources */

/* Positive Affirmations */

/* Footer */





/* Hero Section */
#hero {
    background-color: lightgray;
    background: url(../images/man-looking-at-mountains.jpg);
    background-size: cover;
    background-position: 50% 70%;
    min-height: 400px;
    padding: 5% 7%;
    color: white;
    line-height: 60px;
}